@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root,
* {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.5s;
}

body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 100vw;
  min-height: 100vh;
}

.flex-column {
  flex-direction: column;
}

.flex-end {
  align-self: flex-end;
}
